APP_NAME=Your Spot API
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1

# POSTGRES
POSTGRES_DB=your_spot
POSTGRES_USER=your_spot
POSTGRES_PASSWORD=your_spot
DATABASE_URL=postgresql+asyncpg://your_spot:your_spot@db:5432/your_spot
